* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(80, 143, 104), rgb(103, 189, 101));
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.estrelas img {
    height: 30px;
    width: 50px;
}

.categorias {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: black;
}

.seriePrincipal {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 50px;
}

.seriePrincipal img {
    width: 300px;
    height: 400px;
}

.dadosSerie {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}

.temporadaDois {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 50px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.episodios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
.cardEpisodios img {
    width: 300px;
    height: 400px;

}

.outrasSeries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: rgb(175, 229, 184);
    left: 0;
    bottom: 0;
    margin-top: auto;
    align-items: center;
    align-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width=600px) {
    header {
        display: flex;
        flex-direction: column;
    }
}